<!-- {% extends 'all-pages/base.html' %}

{% block content %}
<div class="row text-center">
        {% if projects %}
        <h2> Found {{projects|length}} projects with the search term "{{message}}"</h2>
        {% else %}
        <h2> Found 0 projects for the search term "{{message}}"</h2>
        {% endif %}
      </div>
      
      
      {% if projects %}
      <div class="text-center">
      
      <hr>
      <div class="container">
     
      
      <div class="row">
        {% for project in projects %}
        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <div class="image">
                    <img src="{{project.landing_page.url}}" class="card-img-top" alt="" height="370px" width="370px">
                  <div class="middle">
                     <div class="text" id="b1">{{project.title}}</div>
                  </div>
                </div>
              <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5><hr>
                <p class="card-text">From {{project.country}}<span class="date">{{project.post_date}}</span></p><hr>
                <a href="/site/{{project.id}}" class="btn btn-primary">Go somewhere</a><hr>
              </div>
            </div>

          </div>  
           
        {% endfor %}
      
      </div>
        {%endif %}
      
      </div>
      </div>
    </div>  
      
{% endblock %} -->